@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{

    font-family: 'Poppins', sans-serif;

}



::-webkit-scrollbar {

    width: 10px;

}



::-webkit-scrollbar-track {

    background-color: rgba(44, 39, 46, 0.2);

}



::-webkit-scrollbar-thumb {

    background-color: rgba(44, 39, 46, 0.5);

    border-radius: 10px;

}



::-webkit-scrollbar-thumb:hover {

    background-color: #2c272e;

}



body {

    background-color: rgb(0, 0, 0, 0.1);

}



.page .sidebar {

    height: 100vh;

    width: 250px;

    background-color: red;

    background: linear-gradient(35deg, #2c272e, #2c272e);

    top: 0;

    left: 0;

    position: fixed;

    overflow-x: hidden;

    overflow-y: auto;

    transition: all 0.8s ease;

}



.page .content {

    margin-left: 250px;

    transition: all 0.8s ease;

}



body.active .page .sidebar {

    left: -250px;

}



body.active .page .content {

    margin-left: 0;

    width: 100%;

}



.sidebar-header {

    padding: 10px 15px;

}



.sidebar-logo-container {

    background-color: rgb(0, 0, 0, 0.2);

    border-radius: 8px;

    display: flex;

    padding-left: 3px;

}



.logo-container {

    max-width: 40px;

    background-color: rgb(255, 255, 255, 0.1);

    border-radius: 8px;

    margin: 8px;

    padding: 6px 8px;

}



.logo-sidebar {

    width: 100%;

    height: auto;

}



.brand-name-container {

    padding: 0px;

    margin: 10px 10px 0px 2px;

}



.brand-name {

    color: white;

    margin: 0px;

    line-height: 1.1rem;

    font-size: 16px;

    letter-spacing: 1px;

    font-weight: 700;

}



.job-name {

    font-weight: 300;

    font-size: 14px;

    font-family: 'Poppins', sans-serif;

}



.navigation-list {

    list-style-type: none;

    padding: 0px 18px;

    margin-top: 30px;

}



.navigation-list-item {

    padding: 10px 18px 10px 18px;

    border-radius: 8px;

    margin: 15px 0px;

}



.navigation-list-item:hover {

    background-color: rgb(255, 100, 0, 0.1);

    box-shadow: 0 0 0.4em rgb(255, 100, 0, 0.1);

    cursor: pointer;

}



.navigation-list-item.active {

    background: rgb(0, 0, 0, 0.1);

}



.navigation-list-item.active:hover {

    background: rgb(255, 100, 0, 0.1) ;

}



.navigation-list-item.active:hover .navigation-link {

    background: rgb(0, 0, 0, 0.1);

    color: #ff6400;

}





.navigation-link {

    color: white;

    letter-spacing: 0.5px;

    font-weight: 400;

    font-size: 16px;

    text-decoration: none;

}



.navigation-list-item:hover .navigation-link {

    color: #ff6400;

}



.navigation-list-item.active .navigation-link {

    color: rgb(255, 255, 255, 0.8);

    font-weight: 600;

}



.navigation-link i {

    font-size: 18px;

}



.navigation-bar {

    background-color: white;

    height: 50px;

    padding: 38px 0px;

    display: flex;

    align-items: center;

}



.sidebarToggle {

    font-size: 16px;

    color: rgb(0, 0, 0, 0.8);

    margin-left: 10px;

    z-index: 999;

    border-radius: 50px;

    outline: none !important;

    box-shadow: none !important;

    transition: all 0.8s ease;

}



.sidebarToggle:hover {

    color: #ff6400;

}



.dropdown-menu {

    margin-top: 20px !important;

    width: 100%;

    }



.dropdown-item:active {

    background-color: #36cd9a !important;

}



.fade-in {

	opacity: 1;

	animation-name: fadeInOpacity;

	animation-iteration-count: 1;

	animation-timing-function: ease-in;

	animation-duration: 0.3s;

}



@keyframes fadeInOpacity {

	0% {

		opacity: 0;

	}

	100% {

		opacity: 1;

	}

}



.container {

  width: 100% !important;

  max-width: 83%;

  padding-right: var(--bs-gutter-x, 0.75rem) !important;

  padding-left: var(--bs-gutter-x, 0.75rem) !important;

  margin-right: auto !important;

  margin-left: 250px !important;

  transition: all 0.8s ease;

}


.container.active {

    margin-left: 0 !important;

    max-width: 100%;

    width: 100% !important;

}



.btn_add {

    background: #ff6400;

	display: block;

	width: 100%;

	height: 50px;

	border-radius: 25px;

	outline: none;

	border: none;

	background-size: 200%;

	font-size: 1.2rem;

	color: #fff;

	font-family: 'Poppins', sans-serif;

	text-transform: uppercase;

	margin: 1rem 0;

	cursor: pointer;

	transition: .5s;

    border: 1px solid #ff6400;

}

.btn_add:hover{

	background: white;

    color: #ff6400;

}



.btnDeleteUser {

    color: #FE4A49;

    text-decoration: none !important;

}



.btnDeleteUser:hover {

    color: black;

    text-decoration: underline !important;

}



.btnModifyUser {

    color: white;

    text-decoration: none !important;

    background: #2c272e;

    padding: 5px;

    padding-left: 10px;

    padding-right: 10px;

    border-radius: 5px;

}



.btnModifyUser:hover{

    color: #2c272e;

    background: white;

	background-position: right;

    border: 1px solid #2c272e;

    text-decoration: none !important;

}



.dataTables_wrapper .dataTables_filter input {

    border: 1px solid #aaa;

    border-radius: 15px !important;

    padding: 8px !important;

    background-color: transparent;

    margin-left: 3px;

    background-color: black;

}



.paginate_button.current {

    background: white !important;

    border-radius: 5px !important;

    border: none !important;

    color: black !important;

}



.paginate_button:hover {

    background: #ff6400 !important;

    border: none !important;

    border-radius: 5px !important;

    color: white !important;

}



.textGreen {

    color: #3ae3ab;

    padding-top: 5px;

}



.textRed {

    color: #FE4A49;

    padding-top: 5px;

}



.textOrange {

    color: #ff6400;

}



.titleFrais {

    font-size: 20px;

    color: #2c272e;

    padding-top: 5px;

    font-weight: 700;

}



.btnValidFrais {

    background-color: #36cd9a;

    border-radius: 25px;

    padding: 4px;

    padding-left: 8px;

    padding-right: 8px;

    height: 25px;

    width: 25px;

    color: white;

    text-decoration: none;

}



.btnValidFrais:hover {

    color: #36cd9a;

    background-color: white;

    border: 1px solid #36cd9a;



}



.btnDeniedFrais {

    background-color: #FE4A49;

    border-radius: 25px;

    padding: 4px;

    padding-left: 8px;

    padding-right: 8px;

    height: 25px;

    width: 25px;

    color: white;

    text-decoration: none;

}



.btnDeniedFrais:hover {

    color: #FE4A49;

    background-color: white;

    border: 1px solid #FE4A49;

}



.card {

    background-color: white;

    border-radius: 25px;

    margin: 20px;

    padding: 10px;

}



.cardModal {

    background: #2c272e;

    color: white;

}



.cardHome {

    background-color: white;

    border-radius: 25px;

    padding: 20px;

    margin: 20px;

    height: 65vh;

}



.titleH2 {

    color: #ff6400;

    font-weight: 700;

}



.cardJustificatif {

    background-color: #2c272e;

    color: white;

    border-radius: 25px;

    margin: 20px;

    padding: 10px;

}



.btnDownload {

    text-decoration: none;

    color: #ff6400;

    font-weight: 700;

}



.btnDownload:hover {

    color: white;

}



.createSegment {

    background: #ff6400;

	display: block; 

	border-radius: 25px;

	outline: none;

	border: none;

	font-size: 1rem;

	color: #fff;

	font-family: 'Poppins', sans-serif;

	text-transform: uppercase;

	margin: 1rem 0;

	cursor: pointer;

	transition: .5s;

    border: 1px solid #ff6400;

}

.createSegment:hover{

	background: white;

    color: #ff6400;

}



.searchInput {

    width: 50%;

    display: flex;

    align-items: center;

    position: relative;

    justify-content: flex-end;

    margin: 20px 0px;

    padding: 0px 4px;

}

.searchInput input {

    border: 1px solid #e5e5e5;

    border-radius: 50px;

    margin-left: 8px;

    height: 34px;

    width: 100%;

    padding: 20px;

    transition: all .6s ease;

}

.searchInput label {

    color: #2c272e;

    font-weight: normal;

}

.searchInput input:placeholder-shown {

    width: 13%;

}

.searchInput:hover input:placeholder-shown {

    width: 100%;

    cursor: pointer;

}

.searchInput:after {

    font-family: 'FontAwesome';

    color: #d4d4d4;

    position: relative;

    right: 25px;

}



.add_flex{

    display: flex;

    justify-content: flex-end;

    padding-right:0px;

}



table.dataTable thead td {

    padding: 10px 18px;

    background: #2c272e;

    color: #ddd;

    border-bottom: 1px solid #ddd;

}



.dataTables_wrapper.no-footer .dataTables_scrollBody {

    border-bottom: 1px solid #ddd !important;

}